<figure>
  <img
    src="https://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&id={{ include.lattes }}"
    alt="{{ include.name }}"
    width="250"
  />
  <figcaption>
    {{ include.name }}
    <hr />
    <address>
      <a href="mailto:{{ include.email }}">{{ include.email }}</a>
      <br />
      <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id={{ include.lattes }}">CV Lattes</a>
    </address>
  </figcaption>
</figure>
